version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    restart: always
    ports:
      - "1433:1433"
    env_file:
      - .env
    environment:
      ACCEPT_EULA: ${ACCEPT_EULA}
      MSSQL_SA_PASSWORD: ${SA_PASSWORD}
      TZ: "America/Guatemala"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
